{% extends "auctions/layout.html" %}

{% block body %}
    <p>{{ entry.title }}</p>
    <p>{{ entry.description }}</p>
    <p>{{ entry.price }}</p>
    <p><img src="{{ entry.photo }}" width="30%"></p>
    <p>{{ entry.category }}</p>
    <p>{{ entry.date_posted }}</p>
    <a href="{% url 'add_Watchlist' entry.id %}">Add to Watchlist</a>
    <!--{% if added %}
    <a href="{% url 'add_Watchlist' entry.id %}">Remove from Watchlist</a>
    {% else %}
    <a href="{% url 'add_Watchlist' entry.id %}">Add to Watchlist</a>
    {% endif %} -->

    <div class="container">
    <h2>Comments...</h2>
        {% if not entry.comments.all %}
            <p>No Comments Yet...</p>
            <form action="{% url 'listingPage' entry.id %}" method="post">
            {% csrf_token %}
                {% for c in comment_form %}
                <p>{{ c.label }}</p>
                <p>{{ c }}</p>
            {% endfor %}
                <input type="submit" value="Submit">
            </form>
        {% else %}
        <p>No Comments Yet...</p>
            <form action="{% url 'listingPage' entry.id %}" method="post">
            {% csrf_token %}
            {% for c in comment_form %}
                <p>{{ c.label }}</p>
                <p>{{ c }}</p>
            {% endfor %}
                <input type="submit" value="Submit">
            </form>
        {% for comment in entry.comments.all %}
            <p>{{ comment.user }}</p>
            <p>{{ comment.comment }}</p>
            <p>{{ comment.date_posted }}</p>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}